* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #e9dccb;
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
